<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>User Home Page</title>

</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-5">
					<div class="container text-center">
					<img style="height: 200px;width: 200px" class="my_profile_picture" src="" alt="" th:src="@{/image/book.jpg}" />
					<!-- </div> -->
					</div>
				
					<h1 class="text-center mt-3 text-secondary font-italic font-weight-light">Start adding your books...</h1>
				
					<a th:href="@{/user/add-book}" class="btn btn-primary mt-4 btn-block text-uppercase">Add New Book</a>
				
				</div>
			</div>
		</div>
		
		<script>
		
		/* alert('This is home page')	 */
				
		$(document).ready(() => {
			$('.item').removeClass('active');
			$('#home-link').addClass('active');
			/* $('#contacts-link').addClass('active');
			$('#add-link').addClass('active');
			$('#profile-link').addClass('active');
			$('#settings-link').addClass('active'); */
		});
		
		</script>
		
	</section>
</body>
</html>