<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="admin/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Delete Librarian Page</title>

</head>
<body>
	<section>
		<div class="container">
			<div class="card">
				<div class="card-body my-5">					
					<h1 class="text-center">
						<i class="fas fa-id-card-alt"></i>
					</h1>
					<h1 class="text-center">Delete Librarians</h1>

					<div class="container-fluid table-responsive">
						<table class="table mt-1 table-striped table-hover">
							<thead>
								<tr>
									<th scope="col">Librarian ID</th>
									<th scope="col">Librarian Name</th>
									<th scope="col">Librarian Email</th>
									<th scope="col">Role</th>
									<th scope="col">Action</th>									
								</tr>
							</thead>
							<tbody>

								<tr th:each="c : ${users}">

									<th scope="row" th:text="${'Librarian  '+c.id}"></th>
									<td><span th:text="${c.name}"></span></td>
									<td><span th:text="${c.email}"></span></td>
									<td><span th:text="${c.role}"></span></td>
									<td><button th:onclick="|deleteUser(${c.id})|" class="btn btn-danger btn-sm text-light"><i class="fas fa-trash-alt"></i> Delete</button></td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>

		<script>
		
		/* alert('This is home page')	 */
				
		$(document).ready(() => {
			$('.item').removeClass('active');
			$('#delete-link').addClass('active');
		});
		
		</script>

	</section>
</body>
</html>